{% extends 'base.html' %}

{% block content%}

{% load static %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Bienvenido a PetAdopt</h1>
                    
                </div>
            </div>
        </header>

        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5">
                <div class="text-center">
                    <h2 class="fw-bold">¿Por qué adoptar es importante?</h2>
                    <p class="lead mt-3">
                        Un animal doméstico puede ser adoptado de un albergue o de un hogar de paso y en ambos casos, al adoptar, estamos salvando la vida de la mascota abandonada y de un nuevo animal doméstico en estado de calle.
                    </p>
                </div>
            </div>
        </section>

        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5">
                <div class="text-center">
                    <h2 class="fw-bold">¿Como adoptar una Mascota?</h2>
                    <img src="{% static 'imagenes/guia.jpeg' %}" alt="Guia de pasos" style="display: block; margin: 0 auto;">
                </div>
            </div>
           <br><br>
            <div style="display: flex; justify-content: center;">
                <a href="{% url 'lista_mascotas' %}" class="btn btn-primary btn-lg">Buscar Mascotas</a>
            </div>
        </section>

{% endblock %}
        
